* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'balooRegular';
    color: var(--blue);
    // scroll-padding: 40px;
}

:root {
    --orange: #CD7E50;
    --blue: #0A3140;
    --dark-blue: #061F27;
    --light-blue: #153e52;
    --bg: #13394d;
    --white: #fff;
    --off-white: #eeeff1;
}

// ***************************************
// **************** N A V ****************
// ***************************************

header {
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    // background: var(--white);

    .logo {
        width: 25%;

        img {
            width: 100%;
        }
    }

    .hamburger {
        display: none;
    }

    .nav-bar {
        ul {
            display: flex;

            li {
                a {
                    display: block;
                    color: var(--dark-blue);
                    font-family: 'balooBold';
                    font-size: 24px;
                    padding: 0 30px;
                    transition: .3s ease-in-out;
                    text-decoration: none;
                }

                a:hover {
                    color: var(--orange);
                }
            }
        }
    }

}

// ***************************************
// **************** H E R O ****************
// ***************************************

#hero {
    padding: 40px 50px;

    .textBox {
        h1 {
            font-family: 'balooBold';
            font-size: 100px;
            line-height: 1;
        }

        h2 {
            font-family: 'balooBold';
            font-size: 60px;
            line-height: 1;

            span {
                color: var(--orange);
            }
        }

        p {
            font-family: 'balooBold';
            font-size: 20px;
            display: flex;
            gap: 20px;
            align-items: center;

            &::before {
                content: "";
                width: 100px;
                height: 3px;
                background: var(--orange);
                display: block;
            }
        }
    }

    .imgBox {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        align-items: flex-end;
        

        .img {
            width: 100%;

            img {
                width: 100%;
                -webkit-box-reflect: below 10px linear-gradient(transparent, #0001);
            }
        }

        .img-2 {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        .img-3 {
            grid-row: span 2;
        }

        .img-4 {
            grid-column-start: 3;
            grid-row-start: 2;
        }

        .img-5 {
            grid-row: span 2;
        }
    }

}

// ***************************************
// **************** A B O U T ****************
// ***************************************

#about {
    padding: 0 80px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .text {
        width: 100%;

        h2 {
            color: var(--orange);
            font-family: 'balooBold';
            font-size: 50px;
            line-height: 1;
        }

        p {
            font-size: 18px;
            margin-top: 50px;
        }
    }

    .img {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

// **************************************************
// **************** S E R V I C E S ****************
// **************************************************

#services {
    background: var(--bg);
    color: var(--white);
    padding: 80px 60px;
    margin-top: 10rem;

    h2 {
        font-family: 'balooBold';
        font-size: 50px;
        line-height: 1;
    }

    .services-wrapper {
        margin-top: 80px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // gap: 50px;
        // width: 100%;

        .card {
            background: var(--light-blue);
            padding: 10px;
            // width: 100%;
            // margin-inline: 10px;
            // margin-right: 400px;
            box-shadow: 0px 0px 5px var(--bg);
            transition: .3s ease-in-out;

            img {
                width: 100%;
            }

            .text {
                padding-inline: 5px;

                h3 {
                    color: var(--orange);
                    border-bottom: 1px solid var(--orange);
                    font-family: 'balooBold';
                    font-size: 26px;
                    padding-block: 10px;
                }

                p {
                    font-size: 16px;
                    margin-block: 18px;
                }
            }
        }
        .card:hover{
            background: var(--off-white);
            color: var(--dark-blue);
            padding: 15px;
            // position: fixed;
        }
    }
}

// **************************************************
// **************** S U B S C R I P T I O N ****************
// **************************************************

#subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-inline: 80px;
    margin-top: 10rem;

    .text {
        width: 100%;
        h2 {
            font-family: 'balooBold';
            color: var(--orange);
            font-size: 40px;
            line-height: 1;
            margin-bottom: 50px;
        }

        a {
            background: var(--bg);
            font-family: 'balooSemiBold';
            color: var(--white);
            padding: 10px 50px;
            font-size: 24px;
            text-decoration: none;
        }
    }

    .img {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

// **************************************************
// **************** C O N T A C T ****************
// **************************************************

#contact {
    margin-top: 10rem;
    background: var(--off-white);
    padding: 60px 80px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;

    .img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .text {
        text-align: center;

        h2 {
            font-family: 'balooBold';
            color: var(--orange);
            font-size: 40px;
            line-height: 1;
        }

        p {
            // font-family: 'balooSemiBold';
            font-size: 18px;
        }

        form {
            // padding-inline: 10rem;
            margin-top: 10px;

            input,
            textarea {
                width: 100%;
                border: none;
                background: var(--white);
                font-family: 'balooRegular';
                color: var(--dark-blue);
                outline: none;
                font-size: 18px;
                padding: 13px 30px;
                margin-block: 8px;
            }

            input:nth-child(5) {
                background: var(--blue);
                color: var(--white);
                font-family: 'balooBold';
                font-size: 24px;
            }
        }
    }
}

// **************************************************
// **************** I N F O ****************
// **************************************************

#info {
    background: url(../images/contact-lg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    padding: 120px 80px;
    margin-top: 5rem;

    h2 {
        font-family: 'balooBold';
        font-size: 40px;
    }

    .wrapper {
        display: flex;
        font-family: 'balooBold';
        gap: 100px;

        p {
            font-size: 20px;
        }
    }
}

footer {
    text-align: center;
}

// **********************************************************
// **************** M E D I A  Q U E R I E S ****************
// **********************************************************

@media only screen and (max-width:1200px) {
    #about {
        gap: 30px;
    }

    #contact {
        gap: 10rem;
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }

}

@media only screen and (max-width:915px) {
    header {

        .logo {
            width: 40%;
        }

        .hamburger {
            display: block;
            cursor: pointer;

            .line {
                width: 35px;
                height: 5px;
                background: var(--dark-blue);
                margin: 6px 0;
                border-radius: 20px;
                transition: .5s ease-in-out;
            }
        }

        .hamburger:hover {
            .line {
                background: var(--orange);
            }
        }

        .nav-bar.active {
            height: 350px;

            ul {
                opacity: 1;
            }
        }

        .nav-bar {
            position: absolute;
            top: 10rem;
            left: 0;
            right: 0;
            height: 0px;
            overflow: hidden;
            width: 100vw;
            background: var(--white);
            transition: .2s ease-in-out;

            ul {
                display: block;
                width: fit-content;
                margin: 80px auto 0 auto;
                text-align: center;
                transition: .5s ease-in-out;
                opacity: 0;

                li {
                    a {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    #hero {
        padding: 40px 40px;

        .textBox {
            h1 {
                font-size: 80px;
            }

            h2 {
                font-size: 50px;
            }
        }
    }

    #about {
        padding: 0 60px;
        gap: 20px;

        .text {
            p {
                margin-top: 30px;
            }

            h2 {
                font-size: 50px;
            }
        }
    }

    #services {
        padding: 80px 40px;

        .services-wrapper {
            gap: 30px;
        }
    }

    #subscription {
        padding-inline: 40px;
        gap: 50px;

        .text {
            a {
                font-size: 18px;
            }
        }
    }

    #contact {
        gap: 5rem;
        padding-inline: 40px;
    }

    #info {
        padding: 80px;
    }
}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:500px) {
    header {
        padding: 10px 30px;

        .logo {
            width: 50%;
        }

        .nav-bar {
            top: 5rem;
        }
    }

    #hero {
        padding: 40px 20px;
        text-align: center;

        .textBox {
            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 30px;
                margin-top: 10px;
            }

            p {
                font-size: 12px;
                margin-top: 10px;
                align-items: center;
                justify-content: center;
                gap: 10px;

                &::before {
                    width: 50px;
                }
            }
        }
    }

    #about {
        padding: 0 30px;
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 3rem;

        .text {
            h2 {
                font-size: 35px;
            }
        }
    }

    #services {
        text-align: center;
        margin-top: 3rem;
        padding: 60px 30px;

        h2 {
            font-size: 35px;
        }

        .services-wrapper {
            flex-direction: column;
        }
    }

    #subscription {
        margin-top: 3rem;
        flex-direction: column-reverse;
        padding-inline: 30px;
        text-align: center;

        .text {
            h2 {
                font-size: 35px;
            }
        }
    }

    #contact {
        margin-top: 5rem;
        flex-direction: column;
        padding-inline: 30px;

        .text {
            h2 {
                font-size: 35px;
            }

            p {
                font-size: 15px;
                margin-top: 20px;
            }

            form {
                input:nth-child(5) {
                    font-size: 18px;
                }
            }
        }
    }

    #info {
        background: url(../images/contact-sm.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 30rem;
        text-align: center;
        padding-top: 30px;
        padding-inline: 30px;

       h2{
        font-size: 35px;
        line-height: 1;
       }
       .wrapper{
        // text-align: left;
        margin-top: 50px;
        flex-direction: column;
        gap: 50px;
       }
    }
}

@media only screen and (max-width:1200px) {}